
MySQLDataImport/bin/*
MySQLDataImport/obj/*
.vs/MySQLDataImport/v17/.suo
.vs/MySQLDataImport/project-colors.json
.vs/MySQLDataImport/DesignTimeBuild/.dtbcache.v2
.vs/MySQLDataImport/v17/.futdcache.v1
